body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

body {
    background-color: #1C1E20;

    background:url(https://i0.imgpile.com/2016/09/14/7861aab59aa07c9499278339f41522c3.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
    margin-left: 50px;
    margin-top: 10px;
}

.main {
    margin:50px auto;
    width: 343px;
    height: 280px;
    border-radius:5px;
}

input {
    border: none;
}

input[type=text], input[type=email], input[type=password] {
    width: 237px;
    height: 38px;
    border: 1px solid #cbc9c9;
    border-radius: 0px 3px 3px 0px;
    margin-top: 16px;
}

button[type=submit] {
    width: 237px;
    height: 40px;
    border-radius:2px 2px 12px 12px;
    margin-top: 16px;
    background-color: #ae6a6a;
    color: #f8f8f8;
}


h1 {
    color:#f4f4f4;
    letter-spacing:8px;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
}

button[type=submit]:hover{
    background-color:#607d8b;
    color:#f8f8f8; 
    cursor:pointer;
}

.login_link {
    margin-top: 0px;
    justify-content: center;
    text-align:center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
   
a:hover{
    color: rgba(255, 152, 0, 0.79);
    text-decoration: underline;
}

hr {
    opacity: 0.2;
    border: 1px solid white;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    align-self: center;
}